{{template "base" .}}

{{define "container"}}
    <h1>Home Page</h1>
    <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eius eum, exercitationem ipsam iste iusto laboriosam nisi odit perspiciatis? Aperiam aspernatur, culpa dicta doloremque ea explicabo id nobis repellendus tempore.</p>
{{end}}